@using System.Text.Json
@model BusinessInsightsDto

<div class="business-header">

    <div class="header-content">

        <h2>Business Insights</h2>

        <p>
            Monitor clinic performance, revenue, appointments,
            and doctor productivity.
        </p>

    </div>

    <div class="date-filter">

        <button class="filter-btn active">Today</button>

        <button class="filter-btn">Week</button>

        <button class="filter-btn">Month</button>

        <button class="filter-btn">Quarter</button>

        <button class="filter-btn">6 Months</button>

        <button class="filter-btn">1 Year</button>

        <button class="filter-btn">
            <i class="bi bi-calendar3"></i>
            Custom
        </button>

    </div>

</div>

<section class="analytics-section">

    <div class="analytics-header">

        <h2>Appointment Analytics</h2>

        <p>
            Monitor appointment trends, doctor workload and scheduling performance.
        </p>

    </div>

    <div class="appointment-analytics-grid">

        <div class="analytics-card">

            <div class="card-header">
                <h4>Appointment Status</h4>
            </div>

            <canvas id="appointmentStatusChart"></canvas>

        </div>

        <div class="analytics-card">

            <div class="card-header">
                <h4>Appointment Trend</h4>
            </div>

            <canvas id="appointmentTrendChart"></canvas>

        </div>

        <div class="analytics-card full-width">

            <div class="card-header">
                <h4>Appointments by Doctor</h4>
            </div>

            <canvas id="appointmentsByDoctorChart"></canvas>

        </div>

        <div class="analytics-card full-width">

            <div class="card-header">
                <h4>Peak Appointment Hours</h4>
            </div>

            <canvas id="peakHoursChart"></canvas>

        </div>

    </div>

</section>







<script>
    window.appointmentStatus = @Html.Raw(JsonSerializer.Serialize(Model.GetAppointmentStatuses));
</script>

@section Scripts{
    <script src="~/js/BusinessInsights.js" asp-append-version="true"></script>
}