.btn-save {
    background: linear-gradient(135deg,#0F766E,#14B8A6);
    color: white;
    border: none;
    padding: 9px 14px;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
}

    .btn-save:hover {
        background: #0d9488;
    }

.btn-search {
    background: linear-gradient(135deg,#0F766E,#14B8A6);
    color: white;
    border: none;
    padding: 9px 14px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

    .btn-search:hover {
        background: #0d9488;
    }



    .btn-cancel:hover {
        background: #e5e7eb;
    }

.btn-edit {
    background: linear-gradient(135deg,#0F766E,#14B8A6);
    color: #0F766E;
    padding: 6px 10px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
}

    .btn-edit:hover {
        background: #0F766E;
        color: white;
    }

.btn-delete,
.btn-cancel {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 110px; /* Same width */
    height: 40px; /* Same height */

    padding: 0 16px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    box-sizing: border-box;
}

/* Delete Button */
.btn-delete {
    background: #ef4444;
    color: #fff;
    border: none;
    font-weight:600;
   
}

    .btn-delete:hover {
        background: #dc2626;
    }

/* Cancel Button */
.btn-cancel {
    background: #f3f4f6;
    color: #111827;
    border: 1px solid #d1d5db;
}

    .btn-cancel:hover {
        background: #e5e7eb;
    }

.btn-delete-link {
    background: #FEE2E2;
    color: #DC2626;
    padding: 6px 10px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
}

    .btn-delete-link:hover {
        background: #DC2626;
        color: white;
    }

.action-buttons {
    display: flex;
    gap: 8px;
    align-items: center;
}

.print-actions {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
}